backup-n8n-workflows-tYlOy18r5iKvSvY5.json
{"updatedAt":"2026-06-01T04:54:12.613Z","createdAt":"2026-06-01T04:43:47.898Z","id":"tYlOy18r5iKvSvY5","name":"Backup n8n workflows","active":true,"isArchived":false,"nodes":[{"parameters":{"options":{}},"id":"07410eaf-5f4c-42c6-8535-134d3ab37c99","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-320,416]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"98c4a224-af9b-42a1-b0af-177fef1232d5","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-112,416]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"0dd54357-ca24-4af7-9f48-43ad58600ddc","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[80,416]},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"ldcdev18","mode":"list","cachedResultName":"ldcdev18","cachedResultUrl":"https://github.com/ldcdev18"},"repository":{"__rl":true,"value":"n8n-production-backup","mode":"list","cachedResultName":"n8n-production-backup","cachedResultUrl":"https://github.com/ldcdev18/n8n-production-backup"},"filePath":"="},"id":"22037b81-5bd7-402c-95d7-2c8f91d62e14","name":"List files from repository [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[288,416],"alwaysOutputData":true,"webhookId":"9cfb4f7f-e719-4d3d-9340-3ccfe0ebed66","credentials":{"githubApi":{"id":"Pdfdt538EdJJY3Qx","name":"GitHub account"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"aeb3d587-8a60-45cf-ab90-04a18b524cfb","name":"Combine file names [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[480,416]},{"parameters":{"filters":{},"requestOptions":{}},"id":"ec38f011-34d2-4eb9-85ab-7bd04e05a9bc","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[688,416],"credentials":{"n8nApi":{"id":"ca2EQfnXJSIgxpcI","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"6c2e6f96-59c4-49fa-8fbb-9c3e8df553e7","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[880,416]},{"parameters":{"batchSize":1,"options":{}},"id":"7325a17d-5849-4fcf-bdf3-cea81163de3a","name":"Split to single items","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[1120,416]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"df9b262c-33cd-4465-ae19-b4796945fba8","name":"Check if file exists in repository","type":"n8n-nodes-base.if","typeVersion":1,"position":[1360,336]},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"ldcdev18","mode":"list","cachedResultName":"ldcdev18","cachedResultUrl":"https://github.com/ldcdev18"},"repository":{"__rl":true,"value":"n8n-production-backup","mode":"list","cachedResultName":"n8n-production-backup","cachedResultUrl":"https://github.com/ldcdev18/n8n-production-backup"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"3259da51-bfa4-46ec-92c4-089f62a87666","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[1584,128],"webhookId":"3a47b5d6-d840-4cbd-ab7f-c8667c477fa6","credentials":{"githubApi":{"id":"Pdfdt538EdJJY3Qx","name":"GitHub account"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"ldcdev18","mode":"list","cachedResultName":"ldcdev18","cachedResultUrl":"https://github.com/ldcdev18"},"repository":{"__rl":true,"value":"n8n-production-backup","mode":"list","cachedResultName":"n8n-production-backup","cachedResultUrl":"https://github.com/ldcdev18/n8n-production-backup"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"98fa3ec7-b00c-47b8-90f3-945c4de4e257","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[1584,544],"webhookId":"88b0263f-f66e-432e-8e0e-a077909b5048","credentials":{"githubApi":{"id":"Pdfdt538EdJJY3Qx","name":"GitHub account"}}},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":2}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-512,416],"id":"3c59ee08-2c42-4b68-83dd-a3864aa39c91","name":"Schedule Trigger"}],"connections":{"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"List files from repository [GITHUB]","type":"main","index":0}]]},"List files from repository [GITHUB]":{"main":[[{"node":"Combine file names [GITHUB]","type":"main","index":0}]]},"Combine file names [GITHUB]":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Split to single items":{"main":[[{"node":"Check if file exists in repository","type":"main","index":0}]]},"Check if file exists in repository":{"main":[[{"node":"Update file [GITHUB]","type":"main","index":0}],[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"Update file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Set date","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5a7ecfc0-90a4-430c-b2e5-e03f58544c2c","activeVersionId":"a3ee7059-d86c-4f7f-a203-271abd039126","triggerCount":1,"shared":[{"updatedAt":"2026-06-01T04:43:47.902Z","createdAt":"2026-06-01T04:43:47.902Z","role":"workflow:owner","workflowId":"tYlOy18r5iKvSvY5","projectId":"7bYcSfydMcLKeIoc"}],"activeVersion":{"updatedAt":"2026-06-01T04:53:29.000Z","createdAt":"2026-06-01T04:53:25.979Z","versionId":"a3ee7059-d86c-4f7f-a203-271abd039126","workflowId":"tYlOy18r5iKvSvY5","nodes":[{"parameters":{"options":{}},"id":"07410eaf-5f4c-42c6-8535-134d3ab37c99","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-320,416]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"98c4a224-af9b-42a1-b0af-177fef1232d5","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-112,416]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"0dd54357-ca24-4af7-9f48-43ad58600ddc","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[80,416]},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"ldcdev18","mode":"list","cachedResultName":"ldcdev18","cachedResultUrl":"https://github.com/ldcdev18"},"repository":{"__rl":true,"value":"n8n-serverd-backup","mode":"list"},"filePath":"="},"id":"22037b81-5bd7-402c-95d7-2c8f91d62e14","name":"List files from repository [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[288,416],"alwaysOutputData":true,"webhookId":"9cfb4f7f-e719-4d3d-9340-3ccfe0ebed66","credentials":{"githubApi":{"id":"Pdfdt538EdJJY3Qx","name":"GitHub account"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"aeb3d587-8a60-45cf-ab90-04a18b524cfb","name":"Combine file names [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[480,416]},{"parameters":{"filters":{},"requestOptions":{}},"id":"ec38f011-34d2-4eb9-85ab-7bd04e05a9bc","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[688,416],"credentials":{"n8nApi":{"id":"ca2EQfnXJSIgxpcI","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"6c2e6f96-59c4-49fa-8fbb-9c3e8df553e7","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[880,416]},{"parameters":{"batchSize":1,"options":{}},"id":"7325a17d-5849-4fcf-bdf3-cea81163de3a","name":"Split to single items","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[1120,416]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"df9b262c-33cd-4465-ae19-b4796945fba8","name":"Check if file exists in repository","type":"n8n-nodes-base.if","typeVersion":1,"position":[1360,336]},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"ldcdev18","mode":"list","cachedResultName":"ldcdev18","cachedResultUrl":"https://github.com/ldcdev18"},"repository":{"__rl":true,"value":"n8n-serverd-backup","mode":"list","cachedResultName":"n8n-serverd-backup","cachedResultUrl":"https://github.com/ldcdev18/n8n-serverd-backup"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"3259da51-bfa4-46ec-92c4-089f62a87666","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[1584,128],"webhookId":"3a47b5d6-d840-4cbd-ab7f-c8667c477fa6","credentials":{"githubApi":{"id":"Pdfdt538EdJJY3Qx","name":"GitHub account"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"ldcdev18","mode":"list","cachedResultName":"ldcdev18","cachedResultUrl":"https://github.com/ldcdev18"},"repository":{"__rl":true,"value":"n8n-serverd-backup","mode":"list","cachedResultName":"n8n-serverd-backup","cachedResultUrl":"https://github.com/ldcdev18/n8n-serverd-backup"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"98fa3ec7-b00c-47b8-90f3-945c4de4e257","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[1584,544],"webhookId":"88b0263f-f66e-432e-8e0e-a077909b5048","credentials":{"githubApi":{"id":"Pdfdt538EdJJY3Qx","name":"GitHub account"}}},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":2}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-512,416],"id":"3c59ee08-2c42-4b68-83dd-a3864aa39c91","name":"Schedule Trigger"}],"connections":{"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"List files from repository [GITHUB]","type":"main","index":0}]]},"List files from repository [GITHUB]":{"main":[[{"node":"Combine file names [GITHUB]","type":"main","index":0}]]},"Combine file names [GITHUB]":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Split to single items":{"main":[[{"node":"Check if file exists in repository","type":"main","index":0}]]},"Check if file exists in repository":{"main":[[{"node":"Update file [GITHUB]","type":"main","index":0}],[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"Update file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Set date","type":"main","index":0}]]}},"authors":"ld cloud","name":"Version a3ee7059","description":"","autosaved":true},"tags":[]}