ollama-token-counter-xOBbN29IqUeyVBjc.json
{"updatedAt":"2026-06-01T03:18:37.340Z","createdAt":"2026-05-31T08:41:17.817Z","id":"xOBbN29IqUeyVBjc","name":"ollama token counter","active":false,"isArchived":false,"nodes":[{"parameters":{"command":"ip a","cwd":"=/"},"type":"n8n-nodes-base.ssh","typeVersion":1,"position":[192,0],"id":"258c352d-8663-46b8-a543-722ba93fc8c2","name":"Execute a command","credentials":{"sshPassword":{"id":"qcOcTxgGjU0Rquj3","name":"SSH Temporary For Project Zabbix"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"978502b0-d760-443a-a88e-f6883c208e25","name":"When clicking ‘Execute workflow’"},{"parameters":{"httpMethod":"POST","path":"ffbf2132-9e13-41a7-9873-3bbbc61d8e8c","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[144,368],"id":"d04e72ed-7a3d-446e-a3d9-032a2f7e53d1","name":"Webhook1","webhookId":"ffbf2132-9e13-41a7-9873-3bbbc61d8e8c"},{"parameters":{"jsCode":"const pricing = {\n  \"gemma4:31b\":     { promptPrice: 0.000001, completionPrice: 0.000002 },\n  \"qwen3.5:latest\": { promptPrice: 0.000001, completionPrice: 0.000002 },\n  // add more models here\n};\n\nconst body = $input.first().json.body;\nconst model = body.model || 'unknown';\nconst promptTokens = body.promptTokens || 0;\nconst completionTokens = body.completionTokens || 0;\nconst totalTokens = body.totalTokens || 0;\n\nconst modelPricing = pricing[model] || { promptPrice: 0, completionPrice: 0 };\nconst cost = (promptTokens * modelPricing.promptPrice) + (completionTokens * modelPricing.completionPrice);\n\nreturn [{\n  json: {\n    workflowName: body.workflowName || 'unknown',\n    model,\n    promptTokens,\n    completionTokens,\n    totalTokens,\n    cost: parseFloat(cost.toFixed(8))\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[368,368],"id":"52d7ebfb-eafa-4a8b-9a40-7a0109aa440a","name":"Price determination"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO ollama_token_usage \n(workflow_name, model_name, prompt_tokens, completion_tokens, total_tokens, cost)\nVALUES \n('{{ $json.workflowName }}', '{{ $json.model }}', {{ $json.promptTokens }}, {{ $json.completionTokens }}, {{ $json.totalTokens }}, {{ $json.cost }})","options":{}},"type":"n8n-nodes-base.mySql","typeVersion":2.5,"position":[576,368],"id":"90d4ae54-0c00-444c-9224-7fa539f0c874","name":"Execute a SQL query"},{"parameters":{"authentication":"webhook","content":"=━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n **OLLAMA TOKEN USAGE**\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\n**Workflow:**        {{ $('Price determination').item.json.workflowName }}\n**Model:**              {{ $('Price determination').item.json.model }}\n**Prompt :**          {{ $('Price determination').item.json.promptTokens }} tokens\n**Completion:**   {{ $('Price determination').item.json.completionTokens }} tokens\n**Total:**              {{ $('Price determination').item.json.totalTokens }} tokens\n**Cost:**               {{ $('Price determination').item.json.cost }}\n**Logged:**          {{ $now.format('yyyy-MM-dd HH:mm') }}\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━","options":{}},"type":"n8n-nodes-base.discord","typeVersion":2,"position":[784,368],"id":"71398064-9999-4e5a-99dc-eb7c83a8e7f6","name":"Discord","webhookId":"12a99455-f20b-433b-8336-b525a9322a0f"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Execute a command","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Price determination","type":"main","index":0}]]},"Price determination":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"Discord","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When clicking ‘Execute workflow’":[{"json":{"headers":{"host":"110.34.20.126:5678","connection":"keep-alive","content-type":"application/json","accept":"*/*","accept-language":"*","sec-fetch-mode":"cors","user-agent":"node","accept-encoding":"gzip, deflate","content-length":"62"},"params":{},"query":{},"body":{"IP":"1.1.1.1","UserName":"mainadmin","Password":"adminmain"},"webhookUrl":"http://110.34.20.126:5678/webhook/3ee80f56-21f6-4285-9829-88c148cae4e1","executionMode":"production"}}]},"versionId":"7a17e802-0533-4761-9702-92bc8022137b","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-05-31T08:41:17.819Z","createdAt":"2026-05-31T08:41:17.819Z","role":"workflow:owner","workflowId":"xOBbN29IqUeyVBjc","projectId":"7bYcSfydMcLKeIoc"}],"activeVersion":null,"tags":[]}